/*--------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------/* GENERAL /*------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/

:root {
  --vert: #2F4F4F;
  --blanc: #F8F8F0;
  --brun: #6F4E37;
  --dore: #C0A060;
  --gris-clair: #f3f3f3;
  --gris: #DADADA;
  --transition: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  background-color: var(--blanc);
  color: var(--vert);
}

/*--------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------/* MAIN /*-------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/

main{
  max-width: 1200px;
  margin: 0 auto;        /* centre horizontalement */
  padding: 2rem 1rem;    /* un peu d’air sur les côtés */
  width: 100%;           /* pour que le padding fonctionne sur mobile */
  padding-top: 70px;
}